

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body{
    background-color: rgba(0, 47, 167);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 47, 167);
    font-family: 'Arial';
    text-align: center;
    font-size: 12
}
   
h2{
    color:rgba(0, 47, 167);
    font-family: 'Arial';
    text-align: center;

    
}


.myWeek1{
    margin: auto;
    max-width: 750px;
    background-color: rgb(137, 207, 239);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(0, 47, 167, .8);
}

.portfoliolinks{
 
    margin: auto;
    max-width: 600px;
    background-color: rgb(137, 207, 239);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(5, 93, 161);

}


/* Set the apperance of the class, chart */
.chart{
    margin-left: 7.5em;
    background-color: rgb(255, 255, 255);
    width:375px;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);    
}
.chart3{
  margin-left: 5em;
  background-color: rgb(255, 255, 255);
  width:375px;
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);    
}

.chart2{
  margin-left: 11em;
  background-color: rgb(255, 255, 255);
  width:375px;
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);    
}


#link1{
    margin-left:6.5em;
    

    padding:1px;
     font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:rgb(0, 47, 167, .8);
    
    text-decoration: none;

    animation: border-pulsate1 4s infinite;
}

#link1:hover{

    background-color: rgba(255, 255, 255);
    
}

.wrap{
    display:block;
    margin:auto
}


.grid-container {
  display: grid;
  grid-template-columns: 190px 190px 190px;
  grid-template-rows: 170px 170px 170px;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 50px;
}


.grid-item {
  padding: 3em;
  font-size: 5px;
  margin-right: 10px;
}

.dashchart{

  padding: 3em;
  margin-right: 10px;
  width: 30px;
  height: 30px;

  
}

.mapchart{
  margin-left: 1em;
  background-color: rgb(255, 255, 255);
  width:375px;
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0); 

}

.myWeek5{
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
  max-width: 600px;
  background-color: rgb(255, 255, 255);

    
  border-width: 3px;
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(5, 93, 161);
}

.myWeek7{
  margin: 0px;
  max-width: 600px;
  background-color: rgb(255, 255, 255);

    
  border-width: 3px;
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(5, 93, 161);
}
@media screen and (max-width: 500px) {
   
  .myWeek1 { width: 450px}
  .container {columns: 1 !important; grid-template-columns: 100% !important; 
    text-align: center;}
    h1, h2, h3, p{
      font-size: smaller;
    }

    .container_grid {
      display: flex;
        justify-content: center;
        align-content: center;
      grid-template-columns: 100%;
          margin: 0 auto 0 auto !important;
        padding: 0 5 0 5; 
          grid-column-gap: 20px;
          grid-row-gap: 50px;
          column-count: 1 !important;
        
    }
  .myWeek5 {width:450px;}
  .chart {width:300px;}
  .chart2{width:300px;}
  .chart3{width:300px;}
}



